<div > <!-- class="col-sm-3 col-md-2" -->
    <a href="#" class="btn btn-danger btn-sm btn-block" role="button" ng-click="$ctrl.toggleCompose($ctrl.viewPane = 'compose')"><i class="glyphicon glyphicon-edit"></i> Compose</a>
    <hr>
    <ul class="nav nav-pills nav-stacked">
        <li id='inbox' ng-class="{active : $ctrl.activeNav === 'Inbox'}" ng-click="$ctrl.toggleNav('Inbox')"><a href="#">
            <span class="badge pull-right">{{$ctrl.unread}}</span> Inbox </a></li>
        <li id ='starred' ng-class="{active : $ctrl.activeNav === 'Starred'}" 
            ng-click="$ctrl.toggleNav('Starred')"><a href="#">Starred</a>
        </li>
        <li><a href="#" ng-click="$ctrl.toggleCompose('develop')">Sent Mail</a></li>
        <li><a href="#" ng-click="$ctrl.toggleCompose('develop')"><span class="badge pull-right">3</span>Drafts</a></li>
    </ul>
</div>

