<div ng-show='$ctrl.compose'>
    <div class="compose input-group">
        <span class="input-group-addon" id="basic-addon1">TO: </span>
        <input type="text" class="form-control" placeholder="Recipient">
    </div>
    <div class="compose input-group">
        <span class="input-group-addon" id="basic-addon1">CC: </span>
        <input type="text" class="form-control" placeholder="Other Recipients">
    </div>
    <div class="compose input-group">
        <span class="input-group-addon" id="basic-addon1">Subject: </span>
        <input type="text" class="form-control" placeholder="Enter Subject Here...">
    </div>
    <div class="compose form-group">
        <textarea class="form-control" rows="10" id="comment"></textarea>
    </div>
    <div class="composeButtons">
    <button class="btn btn-primary "><span class="glyphicon glyphicon-send" aria-hidden="true"> </span> Send </button>
    <button class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"> </span> Save </button>
    <button class="btn btn-danger" ng-click="$ctrl.toggleCompose($ctrl.compose = false)"><span class="glyphicon glyphicon-trash" aria-hidden="true"> </span> Discard </button>
    </div>
</div>


<div ng-show='!$ctrl.compose'>
    <ul class="nav nav-tabs">
        <li ng-repeat="tab in $ctrl.tabs" ng-click="$ctrl.updateTab(tab.name)" ng-class="{active: $ctrl.activeTab === tab.name}">
            <a href="#" data-toggle="tab"><span class="glyphicon {{tab.icon}}"></span>{{tab.name}}</a>
        </li>
        <!-- Placeholder for future option to add tabs -->
        <!-- <a href="#settings" data-toggle="tab"><span class="glyphicon glyphicon-plus no-margin"></span></a>
        </li> -->
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane fade in active" id="primary" ><!-- ng-show="$ctrl.activeTab==='primary'"> -->
            <div class="list-group">
                <a href="#" class="list-group-item" ng-repeat="email in $ctrl.emails | 
                    filter: {starred: $ctrl.showStarred(starred)} | 
                    filter: $ctrl.searchText | 
                    filter: {category: $ctrl.activeTab}" 
                    ng-click="$ctrl.read(email.read=true)" 
                    ng-class="{read : email.read}">
                    <label>
                        <input type="checkbox">
                    </label>
                    <span class="glyphicon glyphicon-star" ng-click="$ctrl.changeStar(email)" 
                        ng-class="{starred :   email.starred}"></span>
                    <span class="name" style="min-width: 120px; display: inline-block;">{{email.name}}</span> 
                    <span class="">Nice work on the lastest version</span>
                    <span class="text-muted" style="font-size: 11px;">- lorem ipsum {{email.starred}}</span> 
                    <span class="badge">{{email.time}}</span> 
                    <span class="pull-right">
                        <span class="glyphicon glyphicon-paperclip"></span>
                    </span>
                </a>

            </div>
            
            <div class="panel-footer">
                <a href="http://brandonspencer.me">Made by Brandon Spencer</a> | 
                <a href="https://github.com/doubldragon/gmail-clone">Fork it on Github!</a>
            </div>
            
        </div>
        

</div>
</div>
    
