<div class="row top-row vertical-center">
    <div class="col-sm-3 col-md-2"><img class='logo center-block' src='/app/assets/images/bmail.jpg'></div>
    <div class="col-lg-6">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Bmail..">
            <span class="input-group-btn">
        <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> </button>
            </span>
        </div>
        <!-- /input-group -->
    </div>
    <!-- /.col-lg-6 -->
    <span id='right-search'>
	<!-- Split button -->
	<div class="btn-group">
  		<button type="button" class="btn btn-danger">Action</button>
  		<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    	<span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#">Help</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Logout</a></li>
    </ul>
</div>
<img class='profile' src='/app/assets/images/profile.png'></span>

</div>
<hr>

<!-- <ul class="nav nav-tabs nav-justified">
  <li><a href="#">Inbox</a></li>
  <li><a href="#">Social</a></li>
  <li><a href="#">Promotions</a></li>
  <li><a href="#">Updates</a></li>
</ul> -->

<!-- /.row -->
<!-- <link rel="stylesheet" href="navbar.scss"> -->
