<div class="row top-row ">
    
    <div class="col-sm-1 col-md-2">
      <img class='logo center-block' src='/app/assets/images/bmail.jpg'>
    </div>
    
    <div class="col-sm-6">
        <div class="input-group search-bar">
          <input type="text" class="form-control" placeholder="Search Bmail..." ng-model="$ctrl.searchText" ng-change='$ctrl.search($ctrl.searchText)'>
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button" ng-click='$ctrl.search($ctrl.searchText)'><span class="glyphicon glyphicon-search" aria-hidden="true"></span> </button>
          </span>
        </div>
    </div>
    <span class="pull-right" id='right-search'>
      <img class='profile pull-right' src='/app/assets/images/profile.png'>
    </span>

</div>
<hr>
